.modal-info {
  border: none;
  border-radius: 10px;
  padding: 20px;
  background-color: #1a1a1a;
  color: whitesmoke;
  max-width: 400px;
}

.modal-info::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}

.modal-info[open] {
  animation: fade-in 0.5s ease-out;
}

.modal-content {
    display: flex;
    flex-direction: column;
}

.modal-content p:nth-of-type(2) {
  font-style: italic;
  color: #888;
  margin: 10px 0;
}

.modal-title {
    align-self: center;
    font-family: "Cinzel", serif;
}

.close-btn {
  align-self: center;
  padding: 8px;
  border: none;
  border-radius: 10px;
  color: black;
  background-color: #FFB100;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #FFEE00;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
