#root {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  min-height: 100dvh;
  background-color: rgb(48, 48, 48);
  padding: 10px;
}

h1 {
  color: whitesmoke;
}

.loading {
  font-size: 2rem;
  color: whitesmoke;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
}

.card {
  padding: 0;
  border: 3px solid whitesmoke;
  border-radius: 10px;
  transition: 0.1s transform ease-in-out;
}

.card:hover {
  cursor: pointer;
  /* transform-origin: left; */
  transform: scale(1.05);
  
}

.card img {
  width: 200px;
  height: 200px;
}

.score,
.high-score {
  color: whitesmoke;
}