#root {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  background-color: rgb(48, 48, 48);
}

header {
  grid-area: header;
  padding: 15px 0;
  color: whitesmoke;
  background-color: rgb(32, 32, 32);
  text-align: center;
}

h1,
h2 {
  color: whitesmoke;
}

main {
  grid-area: main;
  display: grid;
  place-items: center;
  padding: 20px;
}

.difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 20px;
  transition: 0.1s transform ease-in-out;
}

button:hover {
  cursor: pointer;
  opacity: 0.9;
  outline: 1px solid red;
  transform: scale(1.05);
}

footer {
  grid-area: footer;
  padding: 10px 0;
  color: whitesmoke;
  background-color: rgb(32, 32, 32);
  text-align: center;
}

footer a {
  color: whitesmoke;
}